@using System.Security.Claims
@model OnlineSchool.Models.DBModel.Topic

@{
    ViewData["Title"] = "Удаление темы";
    var role = User.FindFirstValue(ClaimsIdentity.DefaultRoleClaimType);
    switch (role)
    {
        case "admin": Layout = "~/Views/Shared/Admin_Layout.cshtml"; break;
        case "metodist" : Layout = "~/Views/Shared/Metodist_Layout.cshtml"; break;
    };
}

<h1>Вы действительно хотите удалить?</h1>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TitleTopic)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TitleTopic)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DescriptionTopic)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DescriptionTopic)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Image.Id)
        </dd>
    </dl>

    <div class="form-group mb-3">
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Удалить" class="btn btn-danger" />
            <a asp-action="Index" role="button" class="btn btn-secondary">Вернуться к списку</a>
        </form>
    </div>
</div>
