@using System.Security.Claims
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@using OnlineSchool.Models.DBModel;
@using X.PagedList.Mvc.Bootstrap4.Core;
@model IPagedList<OnlineSchool.Models.DBModel.Topic>

@{
    ViewData["Title"] = "Список тем";
    Topic topic = new Topic();
    var role = User.FindFirstValue(ClaimsIdentity.DefaultRoleClaimType);
    switch (role)
    {
        case "admin": Layout = "~/Views/Shared/Admin_Layout.cshtml"; break;
        case "metodist": Layout = "~/Views/Shared/Metodist_Layout.cshtml"; break;
    };
}

<h1>Список тем</h1>
<hr />
<p>
    <a asp-action="Create" role="button" class="btn btn-primary">Добавить тему</a>
</p>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <label>Курс: </label>
            @Html.DropDownList("Course", ViewBag.Course as SelectList)
            <input type="submit" class="btn btn-primary" value="Фильтровать" />
        </form>
    </div>
</div>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => topic.TitleTopic)
                </th>
                <th>
                    @Html.DisplayNameFor(model => topic.DescriptionTopic)
                </th>
                <th>
                    @Html.DisplayNameFor(model => topic.Course)
                </th>
                <th>Функции</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TitleTopic)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DescriptionTopic)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Course.TitleCourse)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" role="button" class="btn btn-outline-secondary">Редактировать</a>
                        <a asp-action="Details" asp-route-id="@item.Id" role="button" class="btn btn-outline-info">Информация</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" role="button" class="btn btn-outline-danger">Удалить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-md-4">
        @Html.PagedListPager(Model, page => Url.Action(nameof(Index), new
        {
        page = page
        }), Bootstrap4PagedListRenderOptions.Default)
    </div>
</div>