@model IEnumerable<OnlineSchool.Models.DBModel.Topic>

@{
    ViewData["Title"] = "Список тем";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h1>Список тем</h1>
<hr />
<p>
    <a asp-action="Create">Добавить тему</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TitleTopic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescriptionTopic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TitleTopic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescriptionTopic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Информация</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
