@using System.Security.Claims
@model OnlineSchool.Models.DBModel.User

@{
    ViewData["Title"] = "Удаление пользователя";
    var role = User.FindFirstValue(ClaimsIdentity.DefaultRoleClaimType);
    switch (role)
    {
        case "admin": Layout = "~/Views/Shared/Admin_Layout.cshtml"; break;

    };
}

<h1>Вы действительно хотите удалить?</h1>
<hr />
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoginUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoginUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PasswordUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PasswordUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActiveUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActiveUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Role.Id)
        </dd>
    </dl>
    
 <div class="form-group mb-3">
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Удалить" class="btn btn-danger" />
            <a asp-action="Index" role="button" class="btn btn-secondary">Вернуться к списку</a>
        </form>
    </div>
</div>
