@model IEnumerable<OnlineSchool.Models.DBModel.User>

@{
    ViewData["Title"] = "Список пользователей";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h1>Список пользователей</h1>
<hr />
<p>
    <a asp-action="Create">Добавить пользователя</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmailUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoginUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PasswordUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmailUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoginUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PasswordUser)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Информация</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удаление</a>
            </td>
        </tr>
}
    </tbody>
</table>
