@using System.Security.Claims
@using OnlineSchool.Models.DBModel
@using X.PagedList
@using X.PagedList.Mvc.Bootstrap4.Core
@using X.PagedList.Mvc.Core
@model IPagedList<OnlineSchool.Models.DBModel.User>

@{
    ViewData["Title"] = "Список пользователей";
    User user = new User();
    var role = User.FindFirstValue(ClaimsIdentity.DefaultRoleClaimType);
    switch (role)
    {
        case "admin": Layout = "~/Views/Shared/Admin_Layout.cshtml"; break;

    };
}

<h1>Список пользователей</h1>
<hr />
<p>
    <a asp-action="Create" role="button" class="btn btn-primary">Добавить пользователя</a>
</p>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => user.EmailUser)
                </th>
                <th>
                    @Html.DisplayNameFor(model => user.PasswordUser)
                </th>
                <th>
                    @Html.DisplayNameFor(model => user.FullNameUser)
                </th>
                <th>
                    @Html.DisplayNameFor(model => user.ActiveUser)
                </th>
                <th>
                    @Html.DisplayNameFor(model => user.Role)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmailUser)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PasswordUser)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullNameUser)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ActiveUser)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Role.TitleRole)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" role="button" class="btn btn-outline-secondary">Редактировать</a>
                        <a asp-action="Details" asp-route-id="@item.Id" role="button" class="btn btn-outline-info">Информация</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" role="button" class="btn btn-outline-danger">Удалить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-md-4">
        @Html.PagedListPager(Model, page => Url.Action(nameof(Index), new
        {
        page = page
        }), Bootstrap4PagedListRenderOptions.Default)
    </div>
</div>