@using System.Security.Claims
@model OnlineSchool.Models.DBModel.Client

@{
    ViewData["Title"] = "Удаление клиента";
    var role = User.FindFirstValue(ClaimsIdentity.DefaultRoleClaimType);
    switch (role)
    {
        case "admin": Layout = "~/Views/Shared/Admin_Layout.cshtml"; break;

    };
}

<h1>Вы действительно хотите удалить?</h1>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmailClient)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmailClient)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PasswordClient)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PasswordClient)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstLastNameClient)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstLastNameClient)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberPhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberPhone)
        </dd>
    </dl>

    <div class="form-group mb-3">
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Удалить" class="btn btn-danger" />
            <a asp-action="Index" role="button" class="btn btn-secondary">Вернуться к списку</a>
        </form>
    </div>
</div>