@model IEnumerable<OnlineSchool.Models.DBModel.Client>

@{
    ViewData["Title"] = "Список клиентов";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h1>Список клиентов</h1>

<p>
    <a asp-action="Create">Добавить клиента</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmailClient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoginClient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PasswordClient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstLastNameClient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberPhone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmailClient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoginClient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PasswordClient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstLastNameClient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberPhone)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Информация</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
