@using System.Security.Claims
@model IEnumerable<OnlineSchool.Models.DBModel.Client>

@{
    ViewData["Title"] = "Список клиентов";

    var role = User.FindFirstValue(ClaimsIdentity.DefaultRoleClaimType);
    switch (role)
    {
        case "admin": Layout = "~/Views/Shared/Admin_Layout.cshtml"; break;

    };
}

<h1>Список клиентов</h1>
<hr />
<p>
    <a asp-action="Create" role="button" class="btn btn-primary">Добавить клиента</a>
</p>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EmailClient)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LoginClient)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PasswordClient)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstLastNameClient)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Age)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumberPhone)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmailClient)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LoginClient)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PasswordClient)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstLastNameClient)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Age)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumberPhone)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" role="button" class="btn btn-outline-secondary">Редактировать</a>
                        <a asp-action="Details" asp-route-id="@item.Id" role="button" class="btn btn-outline-info">Информация</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" role="button" class="btn btn-outline-danger">Удалить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
