@using System.Security.Claims
@using X.PagedList
@using X.PagedList.Mvc.Bootstrap4.Core
@using X.PagedList.Mvc.Core
@using OnlineSchool.Models.DBModel;
@model IPagedList<OnlineSchool.Models.DBModel.Client>

@{
    ViewData["Title"] = "Список клиентов";
    Client client = new Client();
    var role = User.FindFirstValue(ClaimsIdentity.DefaultRoleClaimType);
    switch (role)
    {
        case "admin": Layout = "~/Views/Shared/Admin_Layout.cshtml"; break;

    };
}

<h1>Список клиентов</h1>
<hr />
<p>
    <a asp-action="Create" role="button" class="btn btn-primary">Добавить клиента</a>
</p>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => client.EmailClient)
                </th>
                <th>
                    @Html.DisplayNameFor(model => client.PasswordClient)
                </th>
                <th>
                    @Html.DisplayNameFor(model => client.FirstLastNameClient)
                </th>
                <th>
                    @Html.DisplayNameFor(model => client.Age)
                </th>
                <th>
                    @Html.DisplayNameFor(model => client.NumberPhone)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmailClient)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PasswordClient)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstLastNameClient)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Age)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumberPhone)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" role="button" class="btn btn-outline-secondary">Редактировать</a>
                        <a asp-action="Details" asp-route-id="@item.Id" role="button" class="btn btn-outline-info">Информация</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" role="button" class="btn btn-outline-danger">Удалить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-md-4">
        @Html.PagedListPager(Model, page => Url.Action(nameof(Index), new
        {
        page = page
        }), Bootstrap4PagedListRenderOptions.Default)
    </div>
</div>