@using System.Security.Claims
@using OnlineSchool.Models.DBModel;
@using X.PagedList
@using X.PagedList.Mvc.Bootstrap4.Core
@using X.PagedList.Mvc.Core
@model IPagedList<OnlineSchool.Models.DBModel.TestLesson>

@{
    ViewData["Title"] = "Список вопросов";
    TestLesson testLesson = new TestLesson();
    var role = User.FindFirstValue(ClaimsIdentity.DefaultRoleClaimType);
    switch (role)
    {
        case "admin": Layout = "~/Views/Shared/Admin_Layout.cshtml"; break;
        case "teacher": Layout = "~/Views/Shared/Teacher_Layout.cshtml"; break;
    };
}

<h1>Список вопросов</h1>
<hr />
<p>
    <a asp-action="Create" role="button" class="btn btn-primary">Добавить тестовый вопрос</a>
</p>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <label>Тема: </label>
            @Html.DropDownList("Lesson", ViewBag.Topic as SelectList)
            <input type="submit" class="btn btn-primary" value="Фильтровать" />
        </form>
    </div>
</div>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => testLesson.Lesson)
                </th>
                <th>
                    @Html.DisplayNameFor(model => testLesson.Question)
                </th>
                <th>
                    @Html.DisplayNameFor(model => testLesson.AnswerOne)
                </th>
                <th>
                    @Html.DisplayNameFor(model => testLesson.AnswerTwo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => testLesson.AnswerThree)
                </th>
                <th>
                    @Html.DisplayNameFor(model => testLesson.AnswerFour)
                </th>
                <th>
                    @Html.DisplayNameFor(model => testLesson.AnswerFive)
                </th>
                <th>
                    @Html.DisplayNameFor(model => testLesson.RightAnswer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => testLesson.HintQuestion)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lesson.TitleLesson)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Question)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AnswerOne)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AnswerTwo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AnswerThree)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AnswerFour)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AnswerFive)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RightAnswer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HintQuestion)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" role="button" class="btn btn-outline-secondary">Редактировать</a>
                        <a asp-action="Details" asp-route-id="@item.Id" role="button" class="btn btn-outline-info">Информация</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" role="button" class="btn btn-outline-danger">Удалить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-md-4">
        @Html.PagedListPager(Model, page => Url.Action(nameof(Index), new
        {
        page = page
        }), Bootstrap4PagedListRenderOptions.Default)
    </div>
</div>