@using System.Security.Claims
@model IEnumerable<OnlineSchool.Models.DBModel.TestLesson>

@{
    ViewData["Title"] = "Список вопросов";
    var role = User.FindFirstValue(ClaimsIdentity.DefaultRoleClaimType);
    switch (role)
    {
        case "admin": Layout = "~/Views/Shared/Admin_Layout.cshtml"; break;
        case "teacher": Layout = "~/Views/Shared/Teacher_Layout.cshtml"; break;
    };
}

<h1>Список вопросов</h1>
<hr />
<p>
    <a asp-action="Create" role="button" class="btn btn-primary">Добавить тестовый вопрос</a>
</p>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Lesson)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Question)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AnswerOne)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AnswerTwo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AnswerThree)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AnswerFour)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AnswerFive)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RightAnswer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HintQuestion)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lesson.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Question)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AnswerOne)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AnswerTwo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AnswerThree)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AnswerFour)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AnswerFive)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RightAnswer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HintQuestion)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" role="button" class="btn btn-outline-secondary">Редактировать</a>
                        <a asp-action="Details" asp-route-id="@item.Id" role="button" class="btn btn-outline-info">Информация</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" role="button" class="btn btn-outline-danger">Удалить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>