@using System.Security.Claims
@model OnlineSchool.Models.DBModel.Course

@{
    ViewData["Title"] = "Удаление курса";
    var role = User.FindFirstValue(ClaimsIdentity.DefaultRoleClaimType);
    switch (role)
    {
        case "admin": Layout = "~/Views/Shared/Admin_Layout.cshtml"; break;

    };
}

<h1>Вы действительно хотите удалить?</h1>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TitleCourse)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TitleCourse)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DescriptionCourse)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DescriptionCourse)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
    <div class="row">
        <div class="col-md-4 mb-3">
            @if (Model.Image != null)
            {
                <img class="img-thumbnail" src="@Url.Action("GetImage", "Courses", new{id= Model.Id})" />
            }
        </div>
    </div>
    <div class="form-group mb-3">
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Удалить" class="btn btn-danger" />
            <a asp-action="Index" role="button" class="btn btn-secondary">Вернуться к списку</a>
        </form>
    </div>
</div>
