@using System.Security.Claims
@model IEnumerable<OnlineSchool.Models.DBModel.Course>

@{
    ViewData["Title"] = "Список курсов";
    var role = User.FindFirstValue(ClaimsIdentity.DefaultRoleClaimType);
    switch (role)
    {
        case "admin": Layout = "~/Views/Shared/Admin_Layout.cshtml"; break;

    };
}

<h1>Список курсов</h1>
<hr />
<p>
    <a asp-action="Create" role="button" class="btn btn-primary">Добавить курс</a>
</p>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TitleCourse)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DescriptionCourse)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TitleCourse)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DescriptionCourse)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Image.Id)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" role="button" class="btn btn-outline-secondary">Редактировать</a>
                        <a asp-action="Details" asp-route-id="@item.Id" role="button" class="btn btn-outline-info">Информация</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" role="button" class="btn btn-outline-danger">Удалить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
