@model IEnumerable<OnlineSchool.Models.DBModel.Course>

@{
    ViewData["Title"] = "Список курсов";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h1>Список курсов</h1>
<hr />
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TitleCourse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescriptionCourse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TitleCourse)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescriptionCourse)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Image.FileName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Информация</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Удаление</a>
                </td>
            </tr>
        }
    </tbody>
</table>
