@model OnlineSchool.Models.DBModel.TestLesson

@{
    ViewData["Title"] = "TestLesson";
}

<h1>TestLesson</h1>
<form asp-action="ResultTest">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <<input type="hidden" asp-for="Id" />
                <label asp-for="Question" class="control-label"></label><br>
                <input type="checkbox" name="AnswerOne" value="@Model.AnswerOne" />
                <label asp-for="AnswerOne" class="control-label"></label><br>
                <input type="checkbox" name="AnswerTwo" value="@Model.AnswerTwo" />
                <label asp-for="AnswerTwo" class="control-label"></label><br>
                <input type="checkbox" name="AnswerThree" value="@Model.AnswerThree" />
                <label asp-for="AnswerThree" class="control-label"></label><br>
                <input type="checkbox" name="AnswerFour" value="@Model.AnswerFour" />
                <label asp-for="AnswerFour" class="control-label"></label><br>
                <input type="checkbox" name="AnswerFive" value="@Model.AnswerFive" />
                <label asp-for="AnswerFive" class="control-label"></label><br>
            </div>
        </div>
    </div>
    <input type="submit" value="Отправить на проверку" />
</form>