@model OnlineSchool.Models.DBModel.TestLesson

@{
    ViewData["Title"] = "TestLesson";
}

<h1>TestLesson</h1>
<form asp-action="CheckTest">
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <input type="hidden" asp-for="Id" />
                <input type="hidden" name="IdLesson" value="@ViewBag.IdLesson" />
                <label asp-for="Question" class="control-label">@Model.Question</label><br>
                @if (!String.IsNullOrEmpty(Model.AnswerOne))
                {
                    <input type="radio" name="Answer" value="1" />
                    <label asp-for="AnswerOne" class="control-label">@Model.AnswerOne</label>
                    <br>
                }
                @if (!String.IsNullOrEmpty(Model.AnswerTwo))
                {
                    <input type="radio" name="Answer" value="2" />
                    <label asp-for="AnswerTwo" class="control-label">@Model.AnswerTwo</label>
                    <br>
                }
                @if (!String.IsNullOrEmpty(Model.AnswerThree))
                {
                    <input type="radio" name="Answer" value="3" />
                    <label asp-for="AnswerThree" class="control-label">@Model.AnswerThree</label>
                    <br>
                }
                @if (!String.IsNullOrEmpty(Model.AnswerFour))
                {
                    <input type="radio" name="Answer" value="4" />
                    <label asp-for="AnswerFour" class="control-label">@Model.AnswerFour</label>
                    <br>
                }
                @if (!String.IsNullOrEmpty(Model.AnswerFive))
                {
                    <input type="radio" name="Answer" value="5" />
                    <label asp-for="AnswerFive" class="control-label">@Model.AnswerFive</label>
                    <br>
                }
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <span id="timer"></span>
            </div>
            <div class="form-group" id="hint" hidden>
                <label asp-for="HintQuestion" class="control-label">@Model.HintQuestion</label>
            </div>
        </div>
    </div>
    <input type="submit" value="Отправить" />
</form>

<script type="text/javascript">

    function getHint() {
        document.getElementById("hint").hidden = false;
        document.getElementById("timer").innerHTML = "Время на ответ вышло";
    }

    window.onload = function() {

        var sec = 15;
        let timerOne = setInterval(function() {

            if (10 <= sec) {
                document.getElementById("timer").innerHTML = "Время на ответ - 00:" + sec;
            }
            else {
                document.getElementById("timer").innerHTML = "Время на ответ - 00:0" + sec;
            }
            sec--;

        }, 900);

        setTimeout(() => { clearInterval(timerOne); getHint(); }, 15000);
    }
</script>