@model IEnumerable<OnlineSchool.Models.DBModel.Course>
@using OnlineSchool.Models.DBModel;
@{
    ViewData["Title"] = "Courses";
    Layout = "~/Views/Shared/Client_Layout.cshtml";
    List<Order> orders = ViewBag.Orders;
}

@foreach (var item in Model)
{
    <div class="row border">
        <label>@item.TitleCourse</label>
        <div class="col-md-4 mb-3">
            <img class="img-thumbnail" src="@Url.Action("GetImage", "PersonalArea", new {id = item.Id, typeImage="course"})" />
        </div>
        <div class="col-md-8 mb-3">
            <label>@item.DescriptionCourse</label>
            <hr />
            @if (!orders.Select(s => s.CourseId).Contains(item.Id))
            {
                <a asp-action="Pay" asp-route-id="@item.Id" role="button" class="btn btn-primary">Приобрести</a><label>за @item.Price</label>
            }
            else
            {
                <a asp-action="ShowCourse" asp-route-id="@item.Id" role="button" class="btn btn-primary">Перейти к темам</a>
            }
        </div>
    </div>
    <br />
}

