@model IEnumerable<OnlineSchool.Models.ViewCustomModel.CourseProgressViewModel>
@{
    ViewData["Title"] = "Прогресс";
    Layout = "~/Views/Shared/Client_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12 shadow p-3 mb-5 bg-white rounded-3">
        <h1 class="text-center">Добро пожаловать в онлайн школу русского языка!</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12 shadow p-3 mb-5 bg-white rounded-3">
        <h3>Мой прогресс</h3>
        @foreach (var item in Model)
        {
            <div class="col-md-6">
                <h4>Курс: @item.Course.TitleCourse</h4>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: @item.Progress%" aria-valuenow="@item.Progress" aria-valuemin="0" aria-valuemax="100">@item.Progress%</div>
                </div>
            </div>
        }
    </div>
</div>
<div class="row">
    <div class="col-md-12 shadow p-3 mb-5 bg-white rounded-3">
        <h4>Мои курсы</h4>
        @foreach (var item in Model)
        {
            <div>
                <a asp-action="ShowCourse" asp-route-id="@item.Course.Id">@item.Course.TitleCourse</a>
            </div>
        }
    </div>
</div>


