@model IEnumerable<OnlineSchool.Models.DBModel.HintTestLesson>
@using OnlineSchool.Models.DBModel;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Client_Layout.cshtml";
}

<h1>Результаты</h1>


@foreach (var hint in Model)
{
    @hint.NumberHint
    int i = 0;
    foreach (var result in hint.ResultTestLessons)
    {
        if (i == 0)
        {
            <div>
                <label>Курс @result.TestLesson.Lesson.Topic.Course.TitleCourse</label>
                <label>Тема @result.TestLesson.Lesson.Topic.TitleTopic</label>
                <label>Урока: @result.TestLesson.Lesson.TitleLesson</label>
                <progress max="100" value="@hint.ValueResult"></progress>
            </div>
            i++;
        }
    }
}