@model OnlineSchool.Models.DBModel.Client

@{
    ViewData["Title"] = "Личный кабинет";
    Layout = "~/Views/Shared/Client_Layout.cshtml";
}


<div>
    <h4>Ваши учетные данные:</h4>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailClient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailClient)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PasswordClient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PasswordClient)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstLastNameClient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstLastNameClient)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberPhone)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" role="button" class="btn btn-primary">Редактировать личные данные</a>
</div>