@model OnlineSchool.Models.DBModel.TestLesson
@{
    ViewData["Title"] = "Тест";
    Layout = "~/Views/Shared/Client_Layout.cshtml";
}
<form asp-action="CheckTest">
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <input type="hidden" asp-for="Id" />
                <input type="hidden" name="IdLesson" value="@ViewBag.IdLesson" />
                <input type="hidden" name="HintId" value="@ViewBag.Hint" />
                <h3>Вопрос: @Model.Question</h3>
                <hr />
                @if (!String.IsNullOrEmpty(Model.AnswerOne))
                {
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="Answer" name="Answer" value="1" />
                        <label for="Answer" class="form-check-label">@Model.AnswerOne</label>
                        <br>
                    </div>
                }
                @if (!String.IsNullOrEmpty(Model.AnswerTwo))
                {
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="Answer" name="Answer" value="2" />
                        <label for="Answer" class="form-check-label">@Model.AnswerTwo</label>
                        <br>
                    </div>
                }
                @if (!String.IsNullOrEmpty(Model.AnswerThree))
                {
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="Answer" name="Answer" value="3" />
                        <label for="Answer" class="form-check-label">@Model.AnswerThree</label>
                        <br>
                    </div>
                }
                @if (!String.IsNullOrEmpty(Model.AnswerFour))
                {
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="Answer" name="Answer" value="4" />
                        <label for="Answer" class="form-check-label">@Model.AnswerFour</label>
                        <br>
                    </div>
                }
                @if (!String.IsNullOrEmpty(Model.AnswerFive))
                {
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="Answer" name="Answer" value="5" />
                        <label for="Answer" class="form-check-label">@Model.AnswerFive</label>
                        <br>
                    </div>
                }
            </div>
        </div>
        @*<div class="col-md-4">
            <div>
                <span id="timer"></span>
            </div>
            <div class="form-group" id="hint" hidden>
                <label asp-for="HintQuestion" class="control-label"></label>
            </div>
        </div>*@
    </div>
    <input type="submit" value="Отправить" />
</form>

<div class="toast-container position-fixed top-50 end-0 translate-middle-y p-3">
    <div id="liveToast" class="toast bg-warning" role="alert" data-bs-autohide="false" aria-live="assertive" aria-atomic="true">
        <div class="toast-header text-dark">
            <strong class="me-auto">Подсказка!</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Закрыть"></button>
        </div>
        <div class="toast-body text-dark">
            @Model.HintQuestion
        </div>
    </div>
</div>

<script type="text/javascript">

    const toastLiveExample = document.getElementById('liveToast')

    function getHint() {
        /*document.getElementById("hint").hidden = false;
        document.getElementById("timer").innerHTML = "Время на ответ вышло";*/
        const toast = new bootstrap.Toast(toastLiveExample)
        toast.show()
    }

    window.onload = function() {

        //var sec = 15;
        /*let timerOne = setInterval(function() {

            if (10 <= sec) {
                document.getElementById("timer").innerHTML = "Время на ответ - 00:" + sec;
            }
            else {
                document.getElementById("timer").innerHTML = "Время на ответ - 00:0" + sec;
            }
            sec--;

        }, 900);*/

        //setTimeout(() => { clearInterval(timerOne); getHint(); }, 15000);
        setTimeout(() => { getHint(); }, 15000);
    }
</script>

