@model OnlineSchool.Models.DBModel.Topic

@{
    ViewData["Title"] = "Тема";
    Layout = "~/Views/Shared/Client_Layout.cshtml";
}

<h1>@Model.TitleTopic</h1>
<hr />
<div class="row">
    <div class="col-md-4 mb-3">
        <img class="img-thumbnail" src="@Url.Action("GetImage", "PersonalArea", new {id = Model.Id, typeImage="topic"})" />
    </div>
    <div class="col-md-8 mb-3">
        @Html.DisplayFor(model => model.DescriptionTopic)
        <hr />
        @foreach (var item in Model.Lessons)
        {
            <div class="form-group mb-3">
                <a asp-action="ShowLesson" asp-route-id="@item.Id"  role="button" class="btn btn-outline-primary">@item.TitleLesson</a>
            </div>
        }
    </div>
</div>
