@model OnlineSchool.Models.DBModel.Course

@{
    ViewData["Title"] = "Курс";
    Layout = "~/Views/Shared/Client_Layout.cshtml";
}

<h1>@Model.TitleCourse</h1>
<hr />
<div class="row">
    <div class="col-md-4 mb-3">
        <img class="img-thumbnail" src="@Url.Action("GetImage", "PersonalArea", new {id = Model.Id, typeImage="course"})" />
    </div>
    <div class="col-md-8 mb-3">
        @Html.DisplayFor(model => model.DescriptionCourse)
        <hr />
        @foreach (var item in Model.Topics)
        {
            <div class="form-group mb-3">
                <a asp-action="ShowTopic" asp-route-id="@item.Id" role="button" class="btn btn-outline-primary">@item.TitleTopic</a>
            </div>
        }
    </div>
</div>

