@model OnlineSchool.Models.DBModel.Lesson

@{
    ViewData["Title"] = "Урок";
    Layout = "~/Views/Shared/Client_Layout.cshtml";
}

<h1>@Model.TitleLesson</h1>
<hr />
<div class="row">
    <div class="col-md-6 mb-3">
        <div class="ratio ratio-16x9">
            <iframe id="frame" src="@Model.URLVideo"></iframe>
        </div>
    </div>
    <div class="col-md-6 mb-3">
        @Html.DisplayFor(model => model.DescriptionLesson)
        <hr />
        @if (Model.TestLessons.Count() > 0)
        {
            if (ViewBag.RunTest)
            {
                <div>
                    <a asp-action="RunTest" asp-route-idLesson="@Model.Id" role="button" class="btn btn-primary">Начать тест</a>
                </div>
            }
            else
            {
                <div>
                    <label>Пройдите предыдущий тест</label>
                    <a asp-action="ShowTopic" asp-route-id="@ViewBag.TopicId" role="button" class="btn btn-primary">Вернуться к списку уроков</a>
                </div>
            }
        }
        else
        {
            <div>
                <label>Тесты скоро появяться</label>
            </div>
        }
    </div>
</div>
